$grey: #455a64;
$grey-darker4: #13191c;
$grey-darker3: #1c262a;
$grey-darker2: #263238;
$grey-darker1: #37474f;
$grey-lighter1: #607d8b;
$grey-lighter1-5: #b0bec5;
$grey-lighter2: #cfd8dc;
$grey-lighter3: #eceff1;
$accent: #ff9800;

$font-stack: "Montserrat", sans-serif;

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }